/* @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); */

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url(./Assets/font/Montserrat/Montserrat-Regular.ttf) format('truetype');
}

*{
  font-family: 'Montserrat', sans-serif !important;
}